* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1300px;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(115.68deg, #aaaaaa -15.64%, #242424 108.26%);
}

.container {
  width: 1150px;
  margin: 0 auto;
}

nav {
  margin-top: 26px;
  display: flex;
  align-items: center;
}

nav .right {
  display: flex;
}

#logo,
#item {
  cursor: pointer;
}

nav .right ul {
  margin-left: 100px;
  margin-right: 400px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}

nav .right ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
}

nav .left {
  display: flex;
  align-items: center;
  gap: 25px;
}

main {
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  margin-right: 80px;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  color: #ffffff;
}

p {
  margin-top: 34px;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: rgba(255, 255, 255, 0.65);
}

button {
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  margin-top: 119px;
  background: none;
  border: 4px solid #ffffff;
  padding: 28px 100px;
  border-radius: 45px;
  cursor: pointer;
}

button:hover {
  background-color: #ffffff;
  color: #aaaaaa;
}

#main-pic {
  width: 500px;
}

footer {
  margin-top: 70px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
